.headtext{
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.2;
  color: #000000;
}
.headdate{
  font-size: .875em;
  color: #6c757d!important;
  line-height: 1.2;
}
.headver{
  font-size: .875em;
  color: #000000!important;
  line-height: 1.2;
  font-weight: 600;
}
dl, ol, ul{
  margin-top: 0;
  margin-bottom: 1rem;
}
ol,ul{
  padding-left: 2rem;
}
ul, table{
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
  padding-inline-end: 40px;
  font-size: .875em;
  line-height: 1.45!important;
}
.lh-sm{
  line-height: 1.25!important;
}
a{
  color: #ed2f48 !important;
}
.table{
  width: 100% !important;
}

html,
body,
a.clear {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}
.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}
body {
  padding-top: 56px;
}
a{
  color: #ed2f48 !important;
}
.bg-dark{
  background-color: #353939 !important;
}
.bg-light{
  background-color: #F2F2F2 !important;
}
.gfooter{margin-top: 15px;}
@media (max-width: 991.98px) {
  .offcanvas-collapse {
    position: fixed;
    top: 56px; /* Height of navbar */
    bottom: 0;
    left: 100%;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    visibility: hidden;
    background-color: #343a40;
    transition: transform .3s ease-in-out, visibility .3s ease-in-out;
  }
  .offcanvas-collapse.open {
    visibility: visible;
    transform: translateX(-100%);
  }
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  color: rgba(255, 255, 255, .75);
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.nav-underline .nav-link {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: .875rem;
  color: #6c757d;
}
.nav-underline .nav-link:hover {
  color: #007bff;
}

.nav-underline .active {
  font-weight: 500;
  color: #343a40;
}

.text-white-50 { color: rgba(255, 255, 255, .5); }

.bg-purple { background-color: #ed2f48; }
@charset "UTF-8";

.alert{
  color: #6c757d !important;
  background-color: #f7f7f7 !important;
  border-color: #f7f7f7 !important;
}
a.clear{
  color: #6c757d !important;
  text-decoration: none;
}
button{
  border-color: #ed2f48 !important;
  color: #ed2f48 !important;
  background-color: #f8f9fa !important;
}
button:hover{
  background-color: #ed2f48 !important;
  color: #f8f9fa !important;
}

p {
    font-size: smaller;
}

ul ul {
    font-size: 100%;
}

.alert{color: #000000 !important;background-color: #f7f7f7 !important;border-color: #f7f7f7 !important;border-left: 4px #Ed2F48 solid !important;}

b.uwaga{color: #ED2F48;}

.container img {
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
}
